* {
  box-sizing: border-box;
}

/* COMMON RULES */

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1135px;
}

body {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
}

.fixed {
  position: fixed;
  padding-left: 10.6%;
  z-index: -1;
}

h1 {
  font-family: TS-Med, sans-serif;
  font-size: 54px;
  font-weight: bold;
  padding-top: 30px;
}

h1 span {
  color: #fe5d5d;
}

/* MODAL */

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4;
  background-color: black;
  opacity: 0.8;
}

.parent-form {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 578px;
  width: 484px;
  background-color: white;
  position: fixed;
  z-index: 5;
  border-radius: 20px;
}

.close {
  display: flex;
  justify-content: flex-end;
  right: 30px;
  top: 30px;
  position: relative;
  z-index: 6;
  /* border: solid black 2px; */
}

.close i {
  font-size: 24px;
}

.close button {
  border: none;
  background-color: white;
}

.close button:hover {
  color: grey;
  cursor: pointer;
}

form {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form > p {
  font-family: TS-Med, sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
}

input:not(:last-child) {
  height: 48px;
  width: 262px;
  border: solid black 2px;
  font-size: 16px;
  font-family: TS-Reg, sans-serif;
  padding-left: 10px;
}

textarea {
  height: 112px;
  width: 262px;
  border: solid black 2px;
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  padding: 10px;
}

form > button {
  background-color: #04a96c;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-family: TS Reg, sans-serif;
  font-size: 16px;
  color: white;
}

form > button:hover {
  cursor: pointer;
  background-color: #33e1a1;
}

.hide {
  display: none;
}

/* HEADER */

.bars {
  display: none;
}

.logo-trip {
  width: 200px;
  height: 60px;
  object-fit: cover;
}

.logo-trip:hover {
  cursor: pointer;
}

header {
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 15px;
  font-size: 16px;
  line-height: 20px;
}

.menu div {
  display: flex;
  gap: 10px;
  /* border: 1px solid black; */
  padding: 10px;
}

.menu div:nth-child(5) {
  display: none;
}

.menu div:not(.login):hover {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.menu .login {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
  background-color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.menu .login:hover {
  cursor: pointer;
  background-color: #4c4c4c;
  text-decoration: none;
  color: white;
}

.search-icon {
  display: none;
}
/* MAIN */

.undertitle {
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
}

.undertitle a {
  color: #333333;
}

/* MAIN MENU */

.main-menu {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.first-line {
  display: flex;
  gap: 13.75px;
}

.second-line {
  display: flex;
  gap: 13.75px;
}

.seen-menu {
  height: 64px;
  width: 171px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center */
}

.seen-menu:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.hidden-menu:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.main-menu div p {
  font-weight: bold;
}

.hidden-menu div p {
  font-weight: bold;
}

.hidden-menu {
  display: none;
}

/* PHOTOS */

.main-photos {
  /* border: #04a96c 2px solid; */
  margin-top: 30px;
  height: 430px;
  display: flex;
  gap: 2px;
}

.main-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-pic {
  flex: 1;
}

.first-pic:hover {
  opacity: 0.5;
  cursor: pointer;
}

.first-right:hover {
  opacity: 0.5;
  cursor: pointer;
}

.second-right:hover {
  opacity: 0.5;
  cursor: pointer;
}

.last-pics {
  width: 45%;
}

.up-pic {
  height: calc(50% - 1px);
  margin-bottom: 2px;
}

.bottom-pic {
  height: calc(50% - 1px);
}

.second-menu {
  padding-top: 20px;
  font-size: 12px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.second-menu div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.second-menu a {
  text-decoration: none;
  color: #333333;
}
.second-menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* INTRODUCTION */

.introduction {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 100px;
}

.summary {
  width: 565px;
}

.summary p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #333333;
  line-height: 24px;
  padding-top: 40px;
}

.organize {
  height: 282px;
  width: 427px;
  background-color: #fe5d5d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 36px 32px;
}

.organize p {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 24px;
}

.organize button {
  background-color: black;
  border: none;
  height: 54px;
  width: 154px;
  color: white;
  font-family: TS-Med, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.organize button:hover {
  background-color: #4c1c1d;
}

.map img {
  height: 190px;
  width: 427px;
  object-fit: cover;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

h2 {
  font-family: TG-Med, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-family: TG-Med, sans-serif;
  font-size: 32px;
}

/* SECTION IMMANQUABLES */

.immanquables {
  /* border: 2px black solid; */
  margin-top: 60px;
  margin-bottom: 30px;
}

/* ACTIVITES */

.activities {
  /* border: 2px solid blue; */
  display: flex;
  gap: 50px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.activities-intro {
  /* border: 2px solid green; */
  width: 22%;
  flex-shrink: 0;
}

h4 {
  font-family: TS-Med, sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}

.activities-intro > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333333;
  padding-bottom: 20px;
  line-height: 24px;
}

.activities-intro > a {
  color: #545454;
}

.activities-intro > a:hover {
  cursor: pointer;
}

/* CARROUSEL */

.carrousel {
  /* border: 2px solid red; */
  display: flex;
  gap: 15px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.one-activity {
  /* border: 2px solid purple; */
  width: 32%;
  flex-shrink: 0;
  /* border: #04a96c 2px solid; */
}

.photo-activity {
  height: 60%;
  width: 100%;
  /* border: 2px solid yellow; */
  position: relative;
  margin-bottom: 10px;
  /* border: #fe5d5d solid 2px; */
  flex: 1;
}

.photo-activity img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .photo-activity img:hover {
  opacity: 0.5;
} */

.photo-activity button {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 10px;
  top: 10px;
  border: none;
  background-color: white;
  border-radius: 50%;
}

.photo-activity button > i {
  font-size: 23px;
}

.small-logo {
  /* background-color: #fe5d5d; */
  /* border: 2px solid orange; */
  height: 40px;
  width: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.small-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

h5 {
  font-family: TS-Med, sans-serif;
  font-size: 18px;
}

.one-activity h5:hover {
  text-decoration: underline;
}

.one-activity:hover {
  .thepic {
    opacity: 0.8;
  }
  h5 {
    text-decoration: underline;
  }
  cursor: pointer;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratings ul {
  display: flex;
  gap: 2px;
  /* border: 2px solid greenyellow; */
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.ratings ul li i {
  font-size: 11px;
  color: #04a96c;
}

.ratings > p {
  font-size: 12px;
  color: #545454;
  padding-top: 3px;
}

.one-activity > p {
  font-size: 14px;
}

/* GUIDES */

.articles {
  /* border: 2px solid green; */
  display: flex;
  gap: 19px;
  overflow: scroll;
  margin-top: 40px;
}

.articles::-webkit-scrollbar {
  display: none;
}

.one-article {
  /* border: 2px solid blue; */
  margin-bottom: 100px;
  width: 33%;
  flex-shrink: 0;
}

.article-pic {
  /* border: 2px solid yellow; */
  height: 70%;
  width: 100%;
}

.title {
  font-family: TS-Med, sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.number-articles {
  padding-top: 10px;
  font-size: 14px;
}

.article-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.author {
  /* border: 2px solid purple; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.author p {
  font-size: 14px;
}

.author span {
  font-family: TS-Med, sans-serif;
}

.author img {
  height: 24px;
}

.topito {
  border-radius: 50%;
}

/* FOOTER */

footer {
  background-color: #f9f1ec;
  height: 156px;
}

footer div img {
  height: 40px;
}

footer div {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer div p {
  font-family: TS-Reg, sans-serif;
  font-size: 14px;
}

footer div p a {
  text-decoration: none;
  color: black;
  font-family: TS-Med, sans-serif;
}

/* RESPONSIVE */

@media (max-width: 1184px) {
  /* MAIN NAV */

  .hidden-menu {
    display: contents;
    height: 50px;
    width: 272px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu {
    flex-direction: column;
  }

  .seen-menu {
    width: 272px;
    height: 50px;
  }

  /* PHOTOS */

  .main-photos {
    height: 370px;
    max-width: 1135px;
  }

  .last-pics {
    width: 412px;
  }

  /* CARROUSEL */

  .activities {
    max-width: 1135px;
  }

  .one-activity {
    width: 31%;
  }
}

/* ----------------------------- */

@media (max-width: 1024px) {
  /* HEADER */

  .menu div span {
    display: none;
  }

  /* PHOTOS */

  .main-photos {
    height: 274px;
  }
  .last-pics {
    width: 30%;
  }

  /* INTRODUCTION */

  .introduction {
    flex-direction: column;
    gap: 50px;
  }

  .summary {
    width: 100%;
  }

  .right-pics {
    display: flex;
    /* border: 2px solid black; */
    height: 282px;
  }

  .organize {
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    height: 100%;
  }

  .map {
    width: 50%;
    height: 100%;
    /* border: 2px solid green; */
  }

  .map img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100%;
  }

  /* CARROUSEL */

  .one-activity {
    width: 40%;
  }

  /* GUIDES */

  .articles {
    max-width: 1135px;
  }

  .one-article {
    width: 40%;
  }
}

/* -------------------------------- */

@media (max-width: 768px) {
  /* HEADER */

  .bars {
    display: contents;
    font-size: 20px;
  }
  .menu button {
    display: none;
  }

  .menu div:nth-child(5) {
    display: contents;
    display: flex;
  }

  .menu {
    gap: 0px;
  }

  .menu div:not(:nth-child(5)):not(:last-child) {
    display: none;
  }

  .logo-trip {
    width: 132px;
    height: 39px;
    object-fit: cover;
    padding-top: 3px;
  }

  /* MAIN NAV */

  h1 {
    font-size: 32px;
  }

  .main-menu {
    flex-direction: row;
    overflow: scroll;
    justify-content: space-between;
    gap: 108px;
  }

  .main-menu::-webkit-scrollbar {
    display: none;
  }

  .seen-menu {
    flex-shrink: 0;
    gap: 15px;
    width: auto;
  }

  .hidden-menu {
    width: auto;
    gap: 15px;
  }

  /* PHOTOS */

  .last-pics {
    display: none;
  }

  .main-photos {
    margin-left: -20px;
    margin-right: -20px;
  }

  .second-menu {
    display: none;
  }

  /* INTRODUCTION */

  .summary p {
    font-size: 16px;
  }

  .right-pics {
    flex-direction: column;
    margin-bottom: 50px;
    height: 40%;
    /* border: 2px solid black; */
  }

  .organize {
    width: 100%;
    height: 55%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
  }

  .map {
    width: 100%;
    height: 200px;
  }

  .map img {
    border-top-right-radius: 0px;
  }

  /* CARROUSEL */

  .activities {
    flex-direction: column;
  }

  .activities-intro {
    width: 100%;
  }

  .one-activity {
    width: 70%;
  }

  .photo-activity {
    height: 75%;
  }

  .one-article {
    width: 60%;
  }
}
